@model IEnumerable<PG_Project.Models.PG>

@{
    ViewBag.Title = "ShowPG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowPG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
       
        
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }) 
            
        </td>
    </tr>
}

</table>
<style>
    table {
        font-size: 15px;
   
        color: azure;
        position: center;
        padding-left: 30px;
    }
</style>