@model PG_Project.Models.PG

@{
    ViewBag.Title =  "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @ViewBag.name Profile </h2>

<div id="profile" >
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            

        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.User_Name)                                                     
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>


        <dt>
            @Html.DisplayName("My City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayName("My Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <div id="summary">



            @Html.DisplayName("My Bio")
            </br>
            @Html.DisplayFor(model => model.My_Summary)

        </div>
        
    </dl>
</div>
<p style="color:black ; font-size:large" >
    @Html.ActionLink("Back to List", "Index")
</p>


<style>
    table {
        color: azure;
        position: center;
        padding-left: 30px;

    }
    dl {
    color:black
    
    }


    #summary {
      /*float:right;*/
       margin-bottom:90px;    
    
    }

    #profile {
      text-align: center;
      font-style:italic;
      font-size:x-large;
     
    }


</style>