@model PG_Project.ViewModel.PhotographerClient

@{
    ViewBag.Title = "RegisterClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegisterClient</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Client.id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Client.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client.User_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Client.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.User_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Client.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Client.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client.Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Client.Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client.Phone_Number, "", new { @class = "text-danger" })
            </div>
        </div>
    @*    
        <div class="form-group">
            @Html.LabelFor(model => model.Client.pg_id, "pg_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Client.pg_id, new SelectList(Model.photographers,"id","User_Name"),new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Client.pg_id, "", new { @class = "text-danger" })
            </div>
        </div>
  *@
        
        <div class="form-group">
            @Html.LabelFor(model => model.Client.pg_id, "pg_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Client.pg_id,ViewBag.pg as SelectList,"Select Photographer")
                @Html.ValidationMessageFor(model => model.Client.pg_id, "", new { @class = "text-danger" })
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <a class="btn btn-danger" onclick="SendEmailToUser()"> Click here to send email </a>
            </div>
        </div>
    </div>
  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<style>
    .form-group {
        color: black;
        font-size: 20px;
    }
</style>