@model PG_Project.Models.PG

@{
    ViewBag.Title = "ShowSpecificPG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowSpecificPG</h2>

<div style="color:aliceblue ; font-size:18px ">
    <h4>PG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

       

    </dl>
</div>
<p >
    
    @Html.ActionLink("Back to List", "Index")
</p>
<style>


    p {
    
      font-size:30px;
    }
   dt,dd {
   color:azure;
        position:center;
        padding-left:30px;
        
         }



</style>